<ul class="nav nav-tabs home-page__nav">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">I WANT TO....</a>
    <div class="dropdown-menu">
      <%= link_to 'pick up bottles', pickups_path, class: "dropdown-item" %>
      <%= link_to 'put out bottles', new_pickup_path, class: "dropdown-item" %>
    </div>
  </li>
</ul>

<div class="gradient-background"></div>
