<div class=" background-image">
  <h1 id="brand-name" class="brand-name">Bottles + Cans</h1>
    <%= link_to new_user_session_path do %>
      <div class="btn--landing-page">Sign In</div>
    <% end %>

    <%= link_to new_user_registration_path do %>
      <div class="btn--landing-page">Sign Up</div>
    <% end %>
</div>