@import "new";
@import "show";
@import "info_window";

$background-input: #fefefe;
$color-text-on-blue-background: #469c93;
$main-background: #fdfdfd;
$brand-radius: 3rem;
$vanilla-radius: 3rem;
$background-lighter-blue: #d9f5f2;
$box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
$placeholder-color: #469c9388;

$success-purple: #8313dd;
$gradient: linear-gradient(to right, #0ea08e, #0ed755);
$clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
$btn-padding: 0.75rem 2rem;


.gradient-background {
  clip-path: $clip-path;
  position: absolute;
  width: 100vw;
  height: 37vh;
  top: 0rem;
  z-index: -1;
  background-image: url("./pickups/topography.svg"), $gradient;
}

.address-cards-container {
  position: relative;
  border: none;
  bottom: 10rem;
  z-index: 100;
  .address-card {
    display: grid;
    margin: 0rem 1rem;
    grid-template-columns: 5fr 1fr;
    .address {
      letter-spacing: 0.06rem;
      margin-bottom: 0.9rem;
    }

    .card-num {
      position: absolute;
      left: -0.7rem;
      top: -1.5rem;
      background-color: $light-gray;
      border-radius: 50%;
      height: 3rem;
      width: 3rem;
      box-shadow: $box-shadow;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .card__wrapper-left {
      position: relative;
      box-shadow: $box-shadow;
      padding: 1.5rem;
      background-color: $light-gray;
      border-radius: 1.2rem;
      .icon-container {
        margin-right: 1rem;
      }
      .card-wrapper-left__lower {
        div,
        i,
        p {
          display: inline-block;
          margin-bottom: 0rem;
        }
        .fa-info {
          position: absolute;
          right: 1.3rem;
        }
      }
    }
    .card__wrapper-right {
      box-shadow: $box-shadow;
      background-color: $light-gray;
      border-radius: 1.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.title {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 1.8rem;
  color: white;
}

.form-container {
  padding: 0px 1.5rem;
  .form-control {
    font-size: 1.6rem;
    border: none;
    border-radius: $brand-radius;
    padding: 2rem;
    margin-bottom: 1.6rem;
    background-color: $background-input;
    color: $color-text-on-blue-background;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $placeholder-color;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $placeholder-color;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $placeholder-color;
  }
}
.btn {
  // background-color: #00a796;
  // background-image: $gradient;
  background-color: $success-purple;
  color: #e0ffff;
  border-radius: $vanilla-radius;
  padding: $btn-padding;
  margin-top: 1rem;
}
.btn:hover {
  opacity: 0.5;
  color: $light-gray;
}

.home-page__nav {
  margin: 0 auto;
  display: block;
  background: $background-input;
  border-radius: $vanilla-radius;
  width: 17rem;
  padding: 0.6rem;
  margin-top: 5rem;
  .nav-link {
    margin-left: 1rem;
  }
  .nav-link:hover, .nav-link:active {
    border: none;
    background-color: $background-input;
  }
}
