.show-h2 {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    font-size: 48px;
    font-weight: bold;
  }
  .title {
    margin-bottom: 0rem;
  }
}

h2 {
  padding: 5px 15px;
  font-size: 48px;
  font-weight: lighter;
  text-align: center;
}

.show-container {
  margin: 30px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    width: 30%;
    margin: 15px 5px;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    font-weight: lighter;
    img {
      height: 75px;
      width: 75px;
    }
  }
}

.show-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 900px) {
  .show-container {
    p {
      width: 80%;
      padding: 10px;
    }
  }
}
